<div class="main-header header-sticky" data-bg-color="#bac34e">
    <div class="container">
        <div class="main-header_nav position-relative">
            <div class="row align-items-center">
                <div class="col-lg-12 d-none d-lg-block">
                    <div class="main-menu">
                        <nav class="main-nav">
                            <ul style="justify-content: space-between;">
                                <li class="drop-holder">
                                    <a asp-controller="Home" asp-action="Index">
                                        <b style="text-transform: uppercase;">Trang chủ</b>
                                    </a>
                                </li>
                                <li class="drop-holder">
                                    <a asp-controller="Products" asp-action="Index">
                                        <b style="text-transform: uppercase;">Sản phẩm</b>
                                    </a>
                                </li>
                                <li class="drop-holder">
                                    <a asp-controller="News" asp-action="Index">
                                        <b style="text-transform: uppercase;">Tin tức</b>
                                    </a>
                                </li>
                                <li class="drop-holder">
                                    <a asp-controller="Home" asp-action="LienHe">
                                        <b style="text-transform: uppercase;">Liên hệ</b>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>