@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model BookStoreTM.Models.Customer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="login-register-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="transform: translate(50%, 0%);">
                <form asp-action="Login" asp-controller="Customer" method="post">
                    <div class="login-form">
                        <h4 class="login-title">Đăng nhập</h4>
                        <p style="text-align: center;">
                            Bạn chưa có tài khoản ?
                            <a href="/Customer/Registy" class="btn-link-style btn-register" style="text-decoration: underline; "> Đăng ký tại đây</a>
                        </p>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                                <label for="UserName" class="form-label">Tên đăng nhập</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class=" text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="Password" class="form-label">Mật khẩu 
                                    <i id="eyeIcon" class="fa-regular fa-eye strikethrough" onclick="myFunction()"></i></label>
                                <input asp-for="Password" class="form-control" type="password" id="myInput" />
                                <span asp-validation-for="Password" class=" text-danger"></span>
                            </div>

                            <div class="col-lg-12 pt-5">
                                <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Đăng nhập</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .login-title {
        font-size: 25px;
        text-align: center;
    }

    .fa-eye.strikethrough:before {
        content: "\f070"; /* Unicode cho biểu tượng 'eye-slash' */
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            var eyeIcon = document.getElementById("eyeIcon");
            if (x.type === "password") {
                x.type = "text";
                eyeIcon.classList.remove("strikethrough");
            } else {
                x.type = "password";
                eyeIcon.classList.add("strikethrough");
            }
        }
    </script>
    @* <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script> *@
}

