@model Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Đăng ký -->
<div class="login-register-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="transform: translate(50%, 0%);">
                <form asp-action="Registy" asp-controller="Customer" id="formRegisty">
                    <div class="login-form">
                        <h4 class="login-title">Đăng ký</h4>
                        <p style="text-align: center;">
                            Bạn đã có tài khoản ?
                            <a href="/Customer/Login" class="btn-link-style btn-register" style="text-decoration: underline; "> Đăng nhập tại đây</a>
                        </p>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                                <label for="UserName" class="form-label">Họ và tên</label>
                                <input asp-for="Fullname" class="form-control" required />
                                <span asp-validation-for="Fullname" class=" text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="UserName" class="form-label">Email</label>
                                <input asp-for="Email" class="form-control" required />
                                <span asp-validation-for="Email" class=" text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="Password" class="form-label">Mật khẩu  
                                    <i id="eyeIcon" class="fa-regular fa-eye strikethrough" onclick="myFunction()"></i></label>
                                <input asp-for="Password" class="form-control" type="password" id="myInput" onblur="checkRePass()" />
                                <span asp-validation-for="Password" class=" text-danger"></span>
                            </div>
                            <div class="mb-3" id="divRePass">
                                <label for="RePassword" class="form-label">Nhập Mật khẩu
                                    <i id="eyeIcon1" class="fa-regular fa-eye strikethrough" onclick="myFunction1()"></i>
                                </label>
                                <input name="RePassword" class="form-control" type="password" id="myInput1" onblur="checkRePass()" />
                                <span for="RePassword" class=" text-danger"></span>
                                <span class=" text-danger" id="rePassErr"></span>
                            </div>
                            <div class="col-lg-12 pt-5">
                                <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" id="btnDangKy" >Đăng ký</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .login-title {
        font-size: 25px;
        text-align: center;
    }

    .fa-eye.strikethrough:before {
        content: "\f070"; /* Unicode cho biểu tượng 'eye-slash' */
    }
</style>
<script>
    // var checkLogin = false;
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
            eyeIcon.classList.remove("strikethrough");
        } else {
            x.type = "password";
            eyeIcon.classList.add("strikethrough");
        }
    }
    function myFunction1() {
        var x = document.getElementById("myInput1");
        if (x.type === "password") {
            x.type = "text";
            eyeIcon1.classList.remove("strikethrough");
        } else {
            x.type = "password";
            eyeIcon1.classList.add("strikethrough");
        }
    }
    function checkRePass() {
        var pass = document.getElementById("myInput").value;
        var repass = document.getElementById("myInput1").value;
        if (pass != repass) {
            // alert("Không trùng mật khẩu");
            document.getElementById("rePassErr").innerHTML= "Mật khẩu không khớp";
            document.getElementById("btnDangKy");            
            // checkLogin = false;
            document.getElementById("btnDangKy").addEventListener("click", registy);
            document.getElementById("btnDangKy").classList.add("btn-danger");
            document.getElementById("btnDangKy").classList.remove("btn-primary-hover");
        }else{
            document.getElementById("rePassErr").innerHTML="";            
            // checkLogin = true;
            document.getElementById("btnDangKy").classList.remove("btn-danger");
            document.getElementById("btnDangKy").classList.add("btn-primary-hover");
            document.getElementById("btnDangKy").removeEventListener("click", registy);
        }
    }
    function registy() {
        event.preventDefault();
        alert("Mật khẩu không khớp! Vui lòng thử lại");
        return false;
    }
</script>