@model BookStoreTM.Models.Payment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chi tiết thanh toán</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tên PTTT</label>
                        <p class="form-control">@Model.PaymentName</p>
                    </div>
                    <div class="form-group">
                        <label>Người tạo</label>
                        <p class="form-control">@Model.CreatedBy</p>
                    </div>
                    <div class="form-group">
                        <label>Ngày tạo</label>
                        <p class="form-control">@Model.CreatedDate</p>
                    </div>
                    <div class="form-group">
                        <label>Ngày sửa</label>
                        <p class="form-control">@Model.UpdatedDate</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <a asp-action="Index" class="btn btn-danger">Quay lại</a>
            </div>
        </div>
    </div>
</section>

